@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800');

$dark: #383c4a;
$bodyBackground: #3e445d;
$selection: #d6aaff;
$buttonsBackground: rgb(174,125,207);
$buttonsGradient: linear-gradient(90deg, rgb(174, 125, 207) 0%, #4552ff 100%);
$cardsBackground: #5a679c;
$footer: #ffffff;
$subtitleColor: #4b4b4b;
$titleColor: #292b31;
$footerColorHover: #383838;
$footerColor: #5c5c5c;
$mainColor: #4552ff;


//SCROLLBAR

::-webkit-scrollbar {
    width: 7px;
    transition: .3s;
}
  
  ::-webkit-scrollbar-track {
    background: white;
    transition: .3s;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: $mainColor;
    transition: .3s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3841ca;
    transition: .3s;
  }

*{
    -webkit-tap-highlight-color: transparent;
}

html, body{
    padding: 0;
    margin: 35px 0;
    font-family: google sans, poppins, roboto,sans-serif;
    background: white;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;

    a:focus{
        outline: none;
    }

    a:active{
        outline: none;
    }

}

::selection{
    background: $mainColor;
    color: white;
}

.buttonBackground{
    border-radius: 30px;
    background: $buttonsGradient;
    background-size: 400px 400px;
    background-position: 0% 11%;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(110, 107, 255, 0.302);
    -moz-box-shadow: 0px 0px 25px 0px rgba(110, 107, 255,.3);
    box-shadow: 0px 0px 25px 0px rgba(110, 107, 255, .3);
    animation: example 7s ease infinite;
}

.buttonBackground:focus{
    outline: none;
}

//WORKFLOW
.workFlowContainer{
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;

    ul{
        list-style: none;
        margin: 0;
        padding-left: 0;

        li{
            width: 100%;
            height: 400px;
            margin-bottom: 50px;
            border-radius: 10px;
            text-align: center;
            -webkit-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);
            -moz-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);
            box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);

            .logoContainer{
                position: relative;
                display: block;
                width: 100px;
                height: 100px;
                margin: 20px auto;
                padding: 20px;
                border-radius: 200px;
                top: 20px;

                img{
                    position: relative;
                    display: block;
                    width: 60%;
                    left: 20%;
                    top: 20%
                }
            }

            .workflowItemTitle{
                position: relative;
                display: block;
                font-size: 20px;
                width: 200px;
                top: 20px;
                left: 50%;
                transform: translate(-50%, 0);
                color: $titleColor;
            }

            .workflowItemSubtitle{
                position: relative;
                display: block;
                width: 200px;
                top: 20px;
                left: 50%;
                color: #dfdfdf;
                transform: translate(-50%, 0);
                color: $subtitleColor;
            }

        }

    }
}

.services{
    position: relative;
    display: block;
    padding: 20px 0;
    width: 100%;

    ul{
        list-style: none;

        li{
            width: 70%;
            margin: 0 auto;
            height: auto;
            padding: 20px 20px;
            border-radius: 10px;
            margin-bottom: 50px;
            color: $titleColor;
            -webkit-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);
            -moz-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);
            box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);

            .serviceTitle{
                width: calc(100% - 10px);
                left: 10px;
                position: relative;
                display: block;
                font-size: 20px;
            }

            .serviceDescription{
                width: calc(100% - 10px);
                left: 10px;
                position: relative;
                display: block;
                color: $subtitleColor !important;
            }

        }

        li:last-child{
            margin-bottom: 0px;
        }

    }
}

.button{
    position: relative;
    display: block;
    text-align: center;
    padding: 10px 0;
    top: 120%;
    border-radius: 7px;
    background: none;
    color: $mainColor;
    border: 2px solid $mainColor;
    transition: .3s;
}

.moreButton{
    width: 200px;
    background: $mainColor;
    border: 2px solid $mainColor;
    color: white;
    margin: auto;
    font-size: 14px;
}

.moreButton:hover{
    background: white;
    color: $mainColor;
}

.resources{

    padding: 20px 0;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    background: white;

    .moreButton:hover{
        background: white;
        color: $mainColor;
    }
    
    .sectionTitle{
        color: $titleColor;
    }

    .sectionSubtitle{
        color: $subtitleColor !important;
    }

    /*.newSource{
        position: relative;
        display: block;
        color: $mainColor;
        padding: 3px 6px;
        width: 28px;
        height: auto;
        border-radius: 5px;
        text-align: center;
        border: 2px solid $mainColor;
        font-size: 11px;
        top: 110px;
        left: 93%;
        transform: translate(-70%, -60px);
    }*/

    .resourcesContainer{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 30px;

        .sourceContainer{
            position: relative;
            display: block;
            width: 80%;
            margin: 20px auto;
            text-align: center;
        }

        ul{
            position: relative;
            display: block;
            margin: 0 auto;
            list-style: none;
            padding: 0;


            li{
                position: relative;
                display: block;
                left: 50%;
                transform: translate(-50%, 0);
                width: 80%;
                height: auto;
                padding-bottom: 1px;
                border-radius: 10px;
                margin-bottom: 50px 0;
                color: $titleColor;
                -webkit-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);
                -moz-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);
                box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);

                h1{
                    position: relative;
                    display: block;
                    top: 20px;
                    font-size: 20px;
                }

                h3{
                    font-size: 13px;
                    font-weight: 300;
                    padding: 0;
                    margin: 0;
                    top: 0px;
                    position: relative;
                    color: $subtitleColor !important;
                }

                p.sourceDescription{
                    position: relative;
                    display: block;
                    color: $subtitleColor !important;
                }

                a{
                    position: relative;
                    display: block;
                    text-align: center;
                    padding: 10px 0;
                    top: 120%;
                    border-radius: 7px;
                    background: none;
                    color: $mainColor;
                    border: 2px solid $mainColor;
                    transition: .3s;
                }

                a:hover{
                    background: $mainColor;
                    color: white;
                }

            }

        }

    }

}

@keyframes example {
    0%{
        background-position: 0% 11%;
    }50% {
        background-position: 100% 90%;
    }100% {
        background-position: 0% 11%;
    }
}



//HUB
.container{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 30;
    color: white;

    section{
        position: relative;
        display: block;
        width: 100%;
        background: white;

        .sectionTitle {
            position: relative;
            display: block;
            font-size: 27px;
            text-align: center;
            color: $titleColor;
        }

        .sectionSubtitle{
            position: relative;
            display: block;
            font-size: 13px;
            width: 250px;
            top: -20px;
            text-align: center;
            color: $subtitleColor;
            font-weight: 400;
            margin: 0 auto;
        }

    }

    form{

        position: relative;
        display: block;
        width: 90%;
        background: white;
        border-radius: 10px;
        left: 5%;
        height: 470px;
        -webkit-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);
        -moz-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);
        box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.06);
        margin-bottom: 40px;


        .messages{
            color: red;
            position: relative;
            display: block;
            font-size: 20px;
            text-align: center;
            top: 20px;
        }

        .success{
            color: $mainColor;
        }

        .failed{
            color: red;
        }

        .inputs{
            top: 30px;
            position: relative;
            display: block;
            width: 70%;
            height: 20px;
            border-radius: 10px 0 10px 0;
            border: none;
            outline: none;
            color: $subtitleColor;
            padding: 10px 15px;
            margin: 15px auto;
            -webkit-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.08);
            -moz-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.08);
            box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.08);
            border: 1px solid white;
            transition: .3s;
        }

        .inputs:focus{
            border: 1px solid $mainColor;
        }

        textarea{
            display: block;
            position: relative;
            height: 200px !important;
            resize: none;
            width: 80%;
            font-family: google sans, poppins, roboto,sans-serif;
        }

        .formButton{
            position: absolute;
            display: block;
            width: 80%;
            margin: 10px auto;
            padding: 10px;
            font-size: 20px;
            font-family: google sans, poppins, roboto,sans-serif;
            border-radius: 7px 0 7px 0;
            border: none;
            outline: none;
            color: $mainColor;
            font-size: 15px;
            background: white;
            border: 1px solid $mainColor;
            bottom: 20px;
            left: 10%;
            transition: .3s;
        }

        .formButton:hover{
            color: white;
            background: $mainColor;
        }

    }

    .mailSended{
        height: 500px;
    }


    //Footer

    footer{
        width: 100%;
        height: auto;
        background: $footer;
        border-top: 1px solid #bbbbbb;
        color: $footerColor;
    }

    .footerContainer{

        position: relative;
        display: block;
        padding: 20px 30px; 

        .arrow{
            width: 15px;
            position: relative;
            display: none;
            left: 10px;
            top: 2px;
            transition: .3s;

            img{
                width: 100%;
            }

        }

        a{
            color: $footerColor;
            text-decoration: none;
            transition: .3s;
        }

        .otherLinks .link:hover .arrow{
            display: inline-flex;
            animation: linkArrow .3s ease;
        }

        ul .link:hover a{
            color: $footerColorHover;
            text-decoration: underline;
        }

        @keyframes linkArrow {
            0%{
                opacity: 0;
                display: none;
                left: 0px;
            } 100%{
                display: inline-flex;
                opacity: 1;
                left: 10px;
            }
        }

        .authorContainer{
            position: relative;
            display: block;
            height: 60px;
            width: 200px;
            margin: 0 auto;

            ul{
                text-align: center;
                padding-left: 0;
                list-style: none;
                display: inline-flex;
                position: relative;
                margin: 10px 0;

                .logoContainer{
                    width: 60px;
                    height: 60px;
                    filter: grayscale(1);

                }

                img{
                    width: 40%;
                    position: relative;
                    opacity: .8;
                    top: -5px;
                }

                span{
                    position: relative;
                    display: block;
                    top: 4px;
                    font-size: 20px;
                }

            }

        }

        .links{
            list-style: none;
            position: relative;
            display: block;
            left: 0;
            width: 120px;
            padding: 0;
            top: -20px;

            h1{
                font-size: 20px;
                position: relative;
                display: block;
                top: 10px;
            }

            .link{
                position: relative;
                display: block;
                font-size: 15px;
            }

        }

        .copyrights{
            position: relative;
            display: block;
            font-size: 14px;
            text-align: center;
        }

        .otherLinks{

            list-style: none;
            position: relative;
            display: block;
            left: 0;
            width: 120px;
            padding: 0;
            top: -20px;

            h1{
                font-size: 20px;
                position: relative;
                display: block;
                top: 10px;
            }

            .link{
                position: relative;
                display: block;
                width: 100px;
                font-size: 15px;
            }

            
        }
        
    }

    a{
        color: white;
        text-decoration: none;
    }

    .homePage{
        position: relative;
        display: block;
        top: 60px;
        width: 90%;
        height: calc(100vh - 60px);
        left: 5%;

        h3{
            font-size: 14px;
            font-weight: 400;
            color: $subtitleColor;
        }

        h1{
            position: relative;
            display: block;
            font-size: 30px;
            top: -20px;
            color: $titleColor;
        }

        p{
            position: relative;
            display: block;
            top: -20px;
            color: $subtitleColor
        }

        .swipe{
            position: absolute;
            display: block;
            left: 50%;
            bottom: 90px;
            transform: translate(-50%, 0);
            animation: swipe 2s ease infinite;
            -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.04);
            -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.04);
            box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.04);

            .ver{
                position: relative;
                display: block;
                width: 3px;
                border-radius: 100px;
                height: 40px;
                background-color: $subtitleColor;
            }

            .arr{
                position: absolute;
                display: block;
                width: 20px;
                height: 3px;
                border-radius: 100px;
                background-color: $subtitleColor;
                transform: translate(100%, 0);
            }

            .arr:nth-child(3){
                transform: rotate(-45deg);
                left: -1px;
                top: 30px;
            }

            .arr:nth-child(2){
                transform: rotate(45deg);
                left: -16px;
                top: 30px;
            }

            @keyframes swipe {
                0%{
                    bottom: 140px;
                }
                50%{
                    bottom: 120px;
                }
                100%{
                    bottom: 140px;
                }
            }

        }

    }

    .buttonHomepage{
        position: relative;
        display: block;
        padding: 10px 20px;
        width: 90px;
        font-size: 145x;
        text-align: center;
        border-radius: 10px 2px 10px 2px;
        top: -20px;
        margin: 2px;
    }

}

//NAV BAR

.navbar{
    width: 100%;
    top: 0px;
    height: 65px;
    background: white !important;
    position: fixed;
    display: block;
    z-index: 111;
    transition: .3s;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(30,33,41,.3);
    -moz-box-shadow: 0px 0px 20px -1px rgba(30,33,41,.3);
    box-shadow: 0px 0px 20px -1px rgba(30,33,41,.3);


    .menu.opened{
        list-style: none;
        position: fixed;
        display: block;
        width: 100%;
        opacity: 1;
        color: $titleColor;
        background: white;
        text-align: center;
        padding: 0;
        height: calc(100vh - 61px);
        overflow: hidden;
        flex-direction: column;
        z-index: 100;
        transition: .3s;

        .navContainer{
            position: relative;
            display: block;
            top: 50%;
            transform: translate(0, calc(-50% - 32.5px));
        }

        .menu-item{
            position: relative;
            display: block;
            margin: 10px auto;
            width: 100px;
            font-size: 20px;
            padding: 10px 20px;
            color: white;
            text-decoration: none;
            border-radius: 7px;
            transition: .3s;
            
            .menu-link{
                color: $titleColor;
                text-decoration: none;
            }

        }
        
        .menu-item:nth-child(5) .menu-link{
            color: $mainColor;
        }

        .menu-item:nth-child(5){
            border: 2px solid $mainColor;
        }

        .menu-item:nth-child(5):hover{
            background: $mainColor;
        }

        .menu-item:nth-child(5):hover .menu-link{
            color: white;
        }

    }

    .menu.closed {
        position: absolute;
        display: block;
        opacity: 0;
        transition: .3s;
        list-style: none;
        width: 100%;
        height: 0%;
        color: white;
        background: white;
        text-align: center;
        padding: 0;
        height: 0%;
        overflow: hidden;
        flex-direction: column;
        z-index: 100;
        transition: .3s;

        .navContainer{
            position: relative;
            display: block;
            top: 50%;
            transform: translate(0, calc(-50% - 32.5px));
        }

        .menu-item{
            position: relative;
            display: block;
            margin: 10px auto;
            width: 100px;
            font-size: 20px;
            padding: 10px 20px;
            color: white;
            text-decoration: none;
            border-radius: 7px;
            transition: .3s;
            
            .menu-link{
                color: $titleColor;
                text-decoration: none;
            }

        }
        
        .menu-item:nth-child(5) .menu-link{
            color: $mainColor;
        }

        .menu-item:nth-child(5){
            border: 2px solid $mainColor;
        }

        .menu-item:nth-child(5):hover{
            background: $mainColor;
        }

        .menu-item:nth-child(5):hover .menu-link{
            color: white;
        }
    }

    .nav-brand{
        position: relative;
        display: block;
        left: 10px;
        height: 45px;
        width: 200px;
        top: 50%;
        transform: translate(0, -50%);
        text-decoration: none;
        
        span{
            position: absolute;
            display: inline-flex;
            top: 7px;
            color: $titleColor;
            font-size: 20px;
        }
        img{
            position: relative;
            top: 4px;
            height: 80%;
            padding: 0 15px;
        }
    }

    .menuListener{
        position: relative;
        display: inline-flex;
        float: right;
        transition: .3s;

        span{
            width: 20px;
            height: 3px;
            position: absolute;
            display: block;
            background-color: $subtitleColor;
            margin: 10px;
            transform: translate(0, -50%);
            right: 20px;
            top: -22px;
            border-radius: 10px;
            transition: .3s;
            font-weight: 800;
        }

    }

    .menuListener.closed span:nth-child(2){
        width: 28px;
        top: -28px;
    }
    .menuListener.closed span:nth-child(1){
        top: -15px;
    }

    .menuListener.opened span:nth-child(2){
        width: 20px;
        top: -22px;
        transform: rotate(-45deg);
    }

    .menuListener.opened span:nth-child(1){
        top: -22px;
        transform: rotate(45deg);
    }
}
.navbar.up{top: -65px;}

.navbar.down{top: 0;}

.mailsContainer{
    top: 50px;
    width: 80%;
    left: 10%;
    height: auto;
    display: block;
    position: relative;

    ul{
        
        list-style: none;
        padding: 0;
        
        li{
            width: calc(100% - 80px);
            padding: 20px 40px;
            margin: 50px 0;
            margin-bottom: 100px;
            border-radius: 20px 0 20px 0;
            -webkit-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.08);
            -moz-box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.08);
            box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.08);

            .username{
                display: block;
                position: relative;
                font-size: 30px;
                color: $titleColor;
            }

            .useremail{
                position: relative;
                display: block;
                top: -25px;
                color: $subtitleColor;
                font-weight: 500;
            }

            .usermaildate{
                position: relative;
                display: block;
                top: -30px;
                color: $titleColor;
                font-weight: 400;
                font-size: 15px;
            }

            .usermessage{
                position: relative;
                display: block;
                top: -25px;
                color: $subtitleColor;
                font-weight: 500;
            }

            .sendMailButton{
                position: relative;
                display: block;
                background: $mainColor;
                color: white;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
                padding: 10px 0;
                margin: 0 auto;
                border-radius: 20px 0 20px 0;
                border: 2px solid $mainColor;
                transition: .3s;
            }

            .sendMailButton:hover{
                color: $mainColor;
                background: white;
            }

            .newMail{
                position: relative;
                display: block;
                border: 2px solid $mainColor;
                color: $mainColor;
                padding: 2px 3px;
                text-align: center;
                border-radius: 7px;
                font-size: 14px;
                width: 40px;
                top: 10px;
                float: right;
                right: 0;
            }

        }

    }

}

.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: block;
    background: white;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1113;

    span:nth-child(1) {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid $mainColor; /* Blue */
        border-radius: 50%;
        width: 120px;
        position: relative;
        display: block;
        height: 120px;
        top: 50%;
        margin: 0 auto;
        padding: 0;
        transform: translate(-50%, -50%);
        transition: .3s;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

}
