@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800");
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #383c4a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#ae7dcf), to(#4552ff));
  background: linear-gradient(90deg, #ae7dcf 0%, #4552ff 100%);
  background-size: 400px 400px;
  background-position: 0% 11%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(110, 107, 255, 0.302);
  box-shadow: 0px 0px 25px 0px rgba(110, 107, 255, 0.3);
  -webkit-animation: asd 7s ease infinite;
          animation: asd 7s ease infinite;
}

@-webkit-keyframes asd {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

@keyframes asd {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ae7dcf;
}

html, body {
  padding: 0;
  margin: 0;
  margin-top: 45px;
  font-family: google sans, poppins, roboto,sans-serif;
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

html a:focus, body a:focus {
  outline: none;
}

html a:active, body a:active {
  outline: none;
}

::-moz-selection {
  background: #4552ff;
  color: white;
}

::selection {
  background: #4552ff;
  color: white;
}

.buttonBackground {
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#ae7dcf), to(#4552ff));
  background: linear-gradient(90deg, #ae7dcf 0%, #4552ff 100%);
  background-size: 400px 400px;
  background-position: 0% 11%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(110, 107, 255, 0.302);
  box-shadow: 0px 0px 25px 0px rgba(110, 107, 255, 0.3);
  -webkit-animation: example 7s ease infinite;
          animation: example 7s ease infinite;
}

.buttonBackground:focus {
  outline: none;
}

.workFlowContainer {
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.workFlowContainer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.workFlowContainer ul li {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.06);
}

.workFlowContainer ul li .logoContainer {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 200px;
  top: 20px;
}

.workFlowContainer ul li .logoContainer img {
  position: relative;
  display: block;
  width: 60%;
  left: 20%;
  top: 20%;
}

.workFlowContainer ul li .workflowItemTitle {
  position: relative;
  display: block;
  font-size: 20px;
  width: 200px;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #292b31;
}

.workFlowContainer ul li .workflowItemSubtitle {
  position: relative;
  display: block;
  width: 200px;
  top: 20px;
  left: 50%;
  color: #dfdfdf;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #4b4b4b;
}

.services {
  position: relative;
  display: block;
  padding: 20px 0;
  width: 100%;
}

.services ul {
  list-style: none;
}

.services ul li {
  width: 70%;
  margin: 0 auto;
  height: auto;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  color: #292b31;
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.06);
}

.services ul li .serviceTitle {
  width: calc(100% - 10px);
  left: 10px;
  position: relative;
  display: block;
  font-size: 20px;
}

.services ul li .serviceDescription {
  width: calc(100% - 10px);
  left: 10px;
  position: relative;
  display: block;
  color: #4b4b4b !important;
}

.services ul li:last-child {
  margin-bottom: 0px;
}

.button {
  position: relative;
  display: block;
  text-align: center;
  padding: 10px 0;
  top: 120%;
  border-radius: 7px;
  background: none;
  color: #4552ff;
  border: 2px solid #4552ff;
  -webkit-transition: .3s;
  transition: .3s;
}

.moreButton {
  width: 200px;
  background: #4552ff;
  border: 2px solid #4552ff;
  color: white;
  margin: auto;
  font-size: 14px;
}

.moreButton:hover {
  background: white;
  color: #4552ff;
}

.resources {
  padding: 20px 0;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  background: white;
}

.resources .moreButton:hover {
  background: white;
  color: #4552ff;
}

.resources .sectionTitle {
  color: #292b31;
}

.resources .sectionSubtitle {
  color: #4b4b4b !important;
}

.resources .newSource {
  position: relative;
  display: block;
  color: #4552ff;
  padding: 3px 6px;
  width: 28px;
  height: auto;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #4552ff;
  font-size: 11px;
  top: 110px;
  left: 93%;
  -webkit-transform: translate(-70%, -60px);
          transform: translate(-70%, -60px);
}

.resources .resourcesContainer {
  position: relative;
  display: block;
  width: 90%;
  height: auto;
  margin-bottom: 30px;
}

.resources .resourcesContainer .sourceContainer {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.resources .resourcesContainer ul {
  list-style: none;
}

.resources .resourcesContainer ul li {
  width: 100%;
  height: auto;
  padding-bottom: 1px;
  border-radius: 10px;
  margin-bottom: 50px 0;
  color: #292b31;
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.06);
}

.resources .resourcesContainer ul li h1 {
  position: relative;
  display: block;
  top: 20px;
  font-size: 20px;
}

.resources .resourcesContainer ul li h3 {
  font-size: 13px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  top: 0px;
  position: relative;
  color: #4b4b4b !important;
}

.resources .resourcesContainer ul li p.sourceDescription {
  position: relative;
  display: block;
  color: #4b4b4b !important;
}

.resources .resourcesContainer ul li a {
  position: relative;
  display: block;
  text-align: center;
  padding: 10px 0;
  top: 120%;
  border-radius: 7px;
  background: none;
  color: #4552ff;
  border: 2px solid #4552ff;
  -webkit-transition: .3s;
  transition: .3s;
}

.resources .resourcesContainer ul li a:hover {
  background: #4552ff;
  color: white;
}

@-webkit-keyframes example {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

@keyframes example {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

.container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 30;
  color: white;
}

.container section {
  position: relative;
  display: block;
  width: 100%;
  background: white;
}

.container section .sectionTitle {
  position: relative;
  display: block;
  font-size: 27px;
  text-align: center;
  color: #292b31;
}

.container section .sectionSubtitle {
  position: relative;
  display: block;
  font-size: 13px;
  width: 250px;
  top: -20px;
  text-align: center;
  color: #4b4b4b;
  font-weight: 400;
  margin: 0 auto;
}

.container form {
  position: relative;
  display: block;
  width: 90%;
  background: white;
  border-radius: 10px;
  left: 5%;
  height: 410px;
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 40px;
}

.container form .inputs {
  top: 30px;
  position: relative;
  display: block;
  width: 70%;
  height: 20px;
  border-radius: 10px 0 10px 0;
  border: none;
  outline: none;
  color: #4b4b4b;
  padding: 10px 15px;
  margin: 15px auto;
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid white;
  -webkit-transition: .3s;
  transition: .3s;
}

.container form .inputs:focus {
  border: 1px solid #4552ff;
}

.container form textarea {
  display: block;
  position: relative;
  height: 200px !important;
  resize: none;
  width: 80%;
  font-family: google sans, poppins, roboto,sans-serif;
}

.container form .formButton {
  position: absolute;
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-size: 20px;
  font-family: google sans, poppins, roboto,sans-serif;
  border-radius: 7px;
  border: none;
  outline: none;
  color: #4552ff;
  font-size: 15px;
  background: white;
  border: 1px solid #4552ff;
  bottom: 30px;
  left: 10%;
  -webkit-transition: .3s;
  transition: .3s;
}

.container form .formButton:hover {
  color: white;
  background: #4552ff;
}

.container footer {
  width: 100%;
  height: auto;
  background: #222222;
  color: #dfdfdf;
}

.container .footerContainer {
  position: relative;
  display: block;
  padding: 20px 30px;
}

.container .footerContainer .arrow {
  width: 15px;
  position: relative;
  display: none;
  left: 10px;
  top: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

.container .footerContainer .arrow img {
  width: 100%;
}

.container .footerContainer a {
  color: #dfdfdf;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.container .footerContainer .otherLinks .link:hover .arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-animation: linkArrow .3s ease;
          animation: linkArrow .3s ease;
}

.container .footerContainer ul .link:hover a {
  color: white;
  text-decoration: underline;
}

@-webkit-keyframes linkArrow {
  0% {
    opacity: 0;
    display: none;
    left: 0px;
  }
  100% {
    display: -webkit-inline-box;
    display: inline-flex;
    opacity: 1;
    left: 10px;
  }
}

@keyframes linkArrow {
  0% {
    opacity: 0;
    display: none;
    left: 0px;
  }
  100% {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    opacity: 1;
    left: 10px;
  }
}

.container .footerContainer .authorContainer {
  position: relative;
  display: block;
  height: 60px;
  width: 200px;
  margin: 0 auto;
}

.container .footerContainer .authorContainer ul {
  text-align: center;
  padding-left: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin: 10px 0;
}

.container .footerContainer .authorContainer ul .logoContainer {
  width: 60px;
  height: 60px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.container .footerContainer .authorContainer ul img {
  width: 40%;
  position: relative;
  opacity: .8;
  top: -5px;
}

.container .footerContainer .authorContainer ul span {
  position: relative;
  display: block;
  top: 4px;
  font-size: 20px;
}

.container .footerContainer .links {
  list-style: none;
  position: relative;
  display: block;
  left: 0;
  width: 120px;
  padding: 0;
  top: -20px;
}

.container .footerContainer .links h1 {
  font-size: 20px;
  position: relative;
  display: block;
  top: 10px;
}

.container .footerContainer .links .link {
  position: relative;
  display: block;
  font-size: 15px;
}

.container .footerContainer .copyrights {
  position: relative;
  display: block;
  font-size: 14px;
  text-align: center;
}

.container .footerContainer .otherLinks {
  list-style: none;
  position: relative;
  display: block;
  left: 0;
  width: 120px;
  padding: 0;
  top: -20px;
}

.container .footerContainer .otherLinks h1 {
  font-size: 20px;
  position: relative;
  display: block;
  top: 10px;
}

.container .footerContainer .otherLinks .link {
  position: relative;
  display: block;
  width: 100px;
  font-size: 15px;
}

.container a {
  color: white;
  text-decoration: none;
}

.container .homePage {
  position: relative;
  display: block;
  top: 60px;
  width: 90%;
  height: calc(100vh - 60px);
  left: 5%;
}

.container .homePage h3 {
  font-size: 14px;
  font-weight: 400;
  color: #4b4b4b;
}

.container .homePage h1 {
  position: relative;
  display: block;
  font-size: 30px;
  top: -20px;
  color: #292b31;
}

.container .homePage p {
  position: relative;
  display: block;
  top: -20px;
  color: #4b4b4b;
}

.container .homePage .swipe {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 90px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: swipe 2s ease infinite;
          animation: swipe 2s ease infinite;
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.04);
}

.container .homePage .swipe .ver {
  position: relative;
  display: block;
  width: 3px;
  border-radius: 100px;
  height: 40px;
  background-color: #4b4b4b;
}

.container .homePage .swipe .arr {
  position: absolute;
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 100px;
  background-color: #4b4b4b;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.container .homePage .swipe .arr:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -1px;
  top: 30px;
}

.container .homePage .swipe .arr:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -16px;
  top: 30px;
}

@-webkit-keyframes swipe {
  0% {
    bottom: 140px;
  }
  50% {
    bottom: 120px;
  }
  100% {
    bottom: 140px;
  }
}

@keyframes swipe {
  0% {
    bottom: 140px;
  }
  50% {
    bottom: 120px;
  }
  100% {
    bottom: 140px;
  }
}

.container .buttonHomepage {
  position: relative;
  display: block;
  padding: 10px 20px;
  width: 90px;
  font-size: 145x;
  text-align: center;
  border-radius: 10px 2px 10px 2px;
  top: -20px;
  margin: 2px;
  border: 2px solid transparent;
}

.navbar {
  top: 1px;
  width: 100%;
  height: 65px;
  background: white !important;
  position: fixed;
  display: block;
  z-index: 111;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 20px -1px rgba(30, 33, 41, 0.3);
  box-shadow: 0px 0px 20px -1px rgba(30, 33, 41, 0.3);
}

.navbar .menu.opened {
  list-style: none;
  position: fixed;
  display: block;
  width: 100%;
  opacity: 1;
  color: #292b31;
  background: white;
  text-align: center;
  padding: 0;
  height: calc(100vh - 61px);
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .menu.opened .navContainer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, calc(-50% - 32.5px));
          transform: translate(0, calc(-50% - 32.5px));
}

.navbar .menu.opened .menu-item {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 100px;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .menu.opened .menu-item .menu-link {
  color: #292b31;
  text-decoration: none;
}

.navbar .menu.opened .menu-item:nth-child(5) .menu-link {
  color: #4552ff;
}

.navbar .menu.opened .menu-item:nth-child(5) {
  border: 2px solid #4552ff;
}

.navbar .menu.opened .menu-item:nth-child(5):hover {
  background: #4552ff;
}

.navbar .menu.opened .menu-item:nth-child(5):hover .menu-link {
  color: white;
}

.navbar .menu.closed {
  position: absolute;
  display: block;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  list-style: none;
  width: 100%;
  height: 0%;
  color: white;
  background: white;
  text-align: center;
  padding: 0;
  height: 0%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  transition: .3s;
}

.navbar .menu.closed .navContainer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, calc(-50% - 32.5px));
          transform: translate(0, calc(-50% - 32.5px));
}

.navbar .menu.closed .menu-item {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 100px;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .menu.closed .menu-item .menu-link {
  color: #292b31;
  text-decoration: none;
}

.navbar .menu.closed .menu-item:nth-child(5) .menu-link {
  color: #4552ff;
}

.navbar .menu.closed .menu-item:nth-child(5) {
  border: 2px solid #4552ff;
}

.navbar .menu.closed .menu-item:nth-child(5):hover {
  background: #4552ff;
}

.navbar .menu.closed .menu-item:nth-child(5):hover .menu-link {
  color: white;
}

.navbar .nav-brand {
  position: relative;
  display: block;
  left: 10px;
  height: 45px;
  width: 200px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-decoration: none;
}

.navbar .nav-brand span {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  top: 7px;
  color: #292b31;
  font-size: 20px;
}

.navbar .nav-brand img {
  position: relative;
  top: 4px;
  height: 80%;
  padding: 0 15px;
}

.navbar .menuListener {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .menuListener span {
  width: 20px;
  height: 3px;
  position: absolute;
  display: block;
  background-color: #4b4b4b;
  margin: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 20px;
  top: -22px;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 800;
}

.navbar .menuListener.closed span:nth-child(2) {
  width: 28px;
  top: -28px;
}

.navbar .menuListener.closed span:nth-child(1) {
  top: -15px;
}

.navbar .menuListener.opened span:nth-child(2) {
  width: 20px;
  top: -22px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar .menuListener.opened span:nth-child(1) {
  top: -22px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=App.css.map */